<div class="jumbotron">
    <h3 ng-bind="app"></h3>
    <!--
    <ui-accordions>
        <ui-accordion title="Accordion 1">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
            e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de
            tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos,
            como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker
        </ui-accordion>
        <ui-accordion title="Accordion 2">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos,
            e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de
            tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos,
            como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
            e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker
        </ui-accordion>
    </ui-accordions>

    <h3 ng-bind="app"></h3>
    <ui-alert title="Ops, aconteceu um problema!">
        {{error}}
    </ui-alert>
    <ui-alert title="Série sobre AngularJS">
        Epsódio 10 - Criando Diretivas - Parte 1
    </ui-alert> -->
    <input class="form-control" type="text" ng-model="criterioBusca" placeholder="O que você esta buscando?" />
    <table ng-show="contatos.length>0" class="table">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
            <th><a href="" ng-click="ordenarPor('data')">Data</a></th>
            <th></th>
        </tr>
        <tr ng-class="{'selecionado negrito':contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca | orderBy:criterioOrdenacao:direcaoOrdenacao">
            <td><input type="checkbox" ng-model="contato.selecionado" /></td>
            <td style="text-align:left"><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name}}</a></td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            <td><div style="width:20px; height:20px;" ng-style="{'background-color':contato.cor}"></div> </td>
        </tr>
    </table>
    <hr />
    <a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contato)" ng-if="isContatoSelecionado(contato)">Apagar Contato</button>
</div>