<!-- Menu -->
<div class="row">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <ul class="navbar navbar-nav">
                <li>
                    <span class="navbar navbar-brand">MENU</span>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse colapse">
            <ul class="nav navbar-nav">
                <li><a href="#/contatos">Contatos</a></li>
                <li><a href="#/novoContato">Novo</a></li>
                <li><a href="/Registration/Courses">Courses</a></li>
                <li><a href="/Registration/Students">Students</a></li>
            </ul>
        </div>
    </div>
</div>