<!DOCTYPE html>
<html ng-app>
<head>
    <title>AngularJS - Lista de Compras</title>
    <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
	<meta charset="utf-8" />
    <!-- CSS -->
    <link rel="stylesheet" href="Css/Site.css" type="text/css" />
    <link rel="stylesheet" href="Content/Css/app.css" type="text/css" />
    <link rel="stylesheet" href="Content/Css/ui.css" type="text/css" />
    <link rel="stylesheet" href="Lib/bootstrap/bootstrap.css" type="text/css">

    <!-- JS -->
    <script src="Scripts/app.js"></script>
    <script type="text/javascript">
        function ListaComprasController($scope)
        {
            $scope.itens = [
                { produto: 'Leite', quantidade: 2, comprado: false },
                { produto: 'Pão', quantidade: 12, comprado: false }
            ];

            $scope.adicionarItem = function () {
                $scope.itens.push(
                    {
                        produto: $scope.item.produto,
                        quantidade: $scope.item.quantidade,
                        comprado:false
                    });
            }

        }
    </script>
</head>
<body>
    <!-- Menu -->
    <div id="divCenter">
        <div class="row">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <ul class="navbar navbar-nav">
                        <li>
                            <span class="navbar navbar-brand">MENU</span>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse colapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/index">Home</a></li>
                        <li><a href="#/contatos">Contatos</a></li>
                        <li><a href="#/novoContato">Novo</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-controller="ListaComprasController">
            <form class="form-inline jumbotron" name="formItem">
                <input type="text" ng-model="item.produto" />
                <input type="number" ng-model="item.quantidade" />
                <button ng-click="adicionarItem()">Adicionar Item</button>
                <table>
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itens">
                            <td><strong>{{item.produto}}</strong></td>
                            <td>{{item.quantidade}}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
